# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# dotenv
.env

# mkdocs documentation
/site

# cache and locks
.mypy_cache/
.ipynb_checkpoints
poetry.lock

# IDE settings
.vscode/
.idea/
.spyderproject
.spyproject
.DS_Store

# logs
lightning_logs/
