pytest~=7.1.1
setuptools~=59.5.0
fiftyone~=0.17.2
fire~=0.4.0

numpy~=1.22.4
pandas~=1.4.2
pyyaml~=6.0
scipy~=1.8.1
transformers~=4.19.4
lightning-flash[image]~=0.8.0
finegrained~=0.1.0
pillow~=9.2.0
scikit-learn~=1.1.2
torchvision~=0.13.1
tqdm~=4.64.1
dataclasses~=0.8
mlflow~=1.29.0